@page
@model RESTAURANT.Pages.Reservations.IndexModel
<style>
    h1 {
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid white;
        padding: 8px;
        text-align: center;
        color: white;
    }


    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: purple;
    }
</style>
@{
    ViewData["Title"] = "Index";
}

<h1>Rezervare</h1>

<p>
    <a asp-page="Create">Creaza o rezervare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].DateAndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAndTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReservationId">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ReservationId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReservationId">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
